version: "3.8"

services:
  n8n:
    image: n8n-python
    container_name: n8n-python
    restart: unless-stopped
    user: root

    ports:
      - "5678:5678"

    environment:
      N8N_USER_FOLDER: /data

      N8N_BASIC_AUTH_ACTIVE: "true"
      N8N_BASIC_AUTH_USER: admin
      N8N_BASIC_AUTH_PASSWORD: admin123

      N8N_HOST: localhost
      N8N_PORT: 5678
      N8N_PROTOCOL: http
      WEBHOOK_URL: http://localhost:5678/

      NODE_ENV: production
      GENERIC_TIMEZONE: Asia/Kolkata
      TZ: Asia/Kolkata

    volumes:
      - n8n_data:/data
      - ./scripts:/scripts:ro
      - C:/tmp:/tmp

    command: n8n start

volumes:
  n8n_data:
    external: true
